.cache/
.github/
build/
cmake/
scripts/
src/

index.ts

.prettierrc
CMakeLists.txt
CMakePresets.json
Dockerfile
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.build.json
tsconfig.json

*.sublime-project
*.sublime-workspace
